main {
   background-color: edf6f9;

}

.maindiv {
   display: flex;
   width: 100%;
   height: 100%;
}

.skills {
   margin-top: 50px;
   font-size: 80;
   margin-left: 25%;
   margin-right: 25%;
   width: 50%;
   height: 280px;
   text-align: center;
   border-radius: 20px;
   border-style: solid;
   border-color: black;
   /* background-color: yellow; */

}

.skills h4 {
   margin-top: 10px;
}

.skills span {

   position: relative;
   top: 0;
   /* margin-left: 50px; */
   padding: 50px;
}

.skills span i {
   /* background-color: violet; */
   border-radius: 15px;
   border-style: solid;

}

#javas {
   color: brown;
   width: 50px;
   height: 200px;
}

@media (max-width:1204px) and (min-width:950px) {
   .skills {
      /* font-size: 85px; */
      height: 58%;
   }

   .skills span {
      position: relative;
      top: 20px;
      /* margin-left: 50px; */
      padding: 35px;
   }

}


@media (max-width: 950px) {
   .skills {
      display: block;
      font-size: 40px;
      height: 65%;
      /* background-color: yellow; */
   }

   .skills span {
      top: 1px;
      /* background-color: yellow; */
      display: block;
      margin-top: 30px;
      align-self: center;
      margin-left: 0;
      padding: 0;
      margin-left: 0;

   }
}

@media (max-width: 500px){
   .skills {
      display: block;
      font-size: 30px;
      height: 50%;
      /* background-color: yellow; */
   }

   .skills span {
      top: 1px;
      /* background-color: yellow; */
      display: block;
      margin-top: 30px;
      align-self: center;
      margin-left: 0;
      padding: 0;
      margin-left: 0;

   }

}