@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
   padding: 0px;
   margin: 0px;
   font-family: "Rowdies", sans-serif;
   font-weight: 500;
   font-style: normal;

}


main {
   display: block;
   background-color: #edf6f9;
   /* background: yellow; */
   height: 100%;
   width: 100%;
   /* display: flex; */
   /* justify-content: space-between; */
}


.imp {
   margin: 0 50;
   position: relative;
   height: 50%;
   /* top: 50px; */
   /* background-color: aqua; */
   display: flex;
   justify-content: space-around;
   /* text-align: center;    */

}

.imp span {
   font-size: 2rem;
   font-weight: 500;
}

.first h1 {
   font-size: 60;
}

#purple {
   font-size: 60px;
   font-weight: 500;
   color: purple;
}

.first {
   /* background-color: yellow; */
   align-self: center;

}

.second {
   /* background-color: yellow; */
   align-self: center;

}

.second img {
   margin-top: 50px;
   height: 400px;
}

.btndiv {
   margin-top: 10px;
   display: flex;
}

.btndiv2 {
   display: none;
}

#download {

   margin-right: 50px;
   background-color: #df43ae;
   color: white;
   border-color: #df43ae;
   margin-top: 10px;

}

#download a {
   text-decoration: none;
   color: white;
}

.intro {
   display: none;
}

.intro1 {
   position: relative;
   width: 50%;
   left: 25%;
   right: 25%;
   text-align: center;
   font-size: 20px;
   font-family: "IBM Plex Sans", sans-serif;
   /* background-color: #df43ae; */
}

.intro1 h1 {
   font-family: "Rowdies", sans-serif;
   font-weight: 500;
}

.intro1 b {
   color: tomato;
   font-family: "IBM Plex Sans", sans-serif;
   font-weight: 1000;
}

@media (max-width: 950px) {
   main{
      height: 100%;
   }
   .imp {
      display: block;
      text-align: center;

   }

   .first {
      position: relative;
      top: 30;
      /* background-color: red; */
      align-self: center;
   }

   .second {
      top: 40px;
      position: relative;
      /* background: gray; */
   }

   #element {
      font-size: 1.2rem;
   }

   .second img {
      height: 180px;
      margin-top: 2;
   }

   .imp span {
      font-size: 1rem;
      font-weight: 500;
   }

   .first h1 {
      font-size: 30;
      
   }

   #purple {
      font-size: 30;
      font-weight: 500;
      color: purple;
   }


   .btndiv {
      display: none;
   }

   .btndiv2 {
      margin-top: 58px;
      display: block;
      /* background-color: #df43ae; */


   }

   .intro {
      font-family: "IBM Plex Sans", sans-serif;
      display: block;
      position: relative;
      top: 50px;
   }

   .intro b {
      color: tomato;
      font-family: "IBM Plex Sans", sans-serif;
      font-weight: 1000;

   }

   .intro h6 {
      font-size: 15px;
      position: relative;
      top: 5;

   }

   #download {

      margin-right: 5px;
      background-color: #df43ae;
      color: white;
      border-color: #df43ae;
      margin-top: 10px;

   }

   .intro1 {
      display: none;
   }

}

@media (max-width: 490px) {
   .intro1 {
      display: none;
   }
   
   main {
      height: 155%;
   }


   .intro h6 {
      font-size: 10;
      position: relative;
      top: 5;

   }

}

@media (max-width:1160px) and (min-width:950px) {
   .intro {
      display: none;
   }
   .second img {
      margin-top: 50px;
      height: 250px;
   }
   .intro1{
      display: block;
   }


}